html {
    font-family: Helvetica;
    background-color: #ddd;
}

.main-container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 70px 50px;
}

.header {
    text-align: center;
}

.container-title {
    font-size: 40px;
}

.container-description {
    font-style: italic;
}

.container-img {
    text-align: center;
    margin-top: 30px;
}

.container-about,
.container-curiosities {
    padding-block: 25px;
    margin-block: 25px;
    border-top: 1px #ddd dashed;
    border-bottom: 1px #ddd dashed;
}

.container-quotes {
    background-color: #ddd;
    padding: 30px;
}

.container-quotes p {
    font-style: italic;
}

.container-quotes blockquote{
    font-weight: bold;
    font-size: 30px;
}

.container-curiosities li {
    height: 30px;
}
